<h1><%= @question.title %></h1>

<h2><%= @question.question %></h2>

<h2>Posted by: <%= @user.email %></h2>

<h4>Answers:</h4>
<div class="answers">
  <ul>
    <% @question.answers.each do |answer| %>
      <li><%= answer.answer %> <%= link_to "Top Vote", edit_answer_path(answer)  %></li>

    <% end %>
  </ul>
</div>





<%= link_to "New Answer", new_answer_path(question_id: @question.id), id: "new_answer_link", remote: true %>
